/* Estilos de texto y color de fondo en body */
*{
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Oxygen', sans-serif;
}
h2 {
    background-color: rgb(4, 4, 88);
    margin:0;
    padding:10px;
    text-align: center;
    color: lightgreen;
}
.debajoCabecera{
    text-align: center;
    color: white;
}
.Section1 {
    background-color: rgb(4, 4, 88);
    padding:0;
    border:0;
    margin:0
}
.Section2 {
    background-color: rgb(4, 4, 88);
    padding:0;
    border:0;
    margin:0
}

.descripcionArticulos {
    color: white;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

/* Grid */
.gridContainer {  
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Logo Logo_nav Logo_nav Logo_nav Logo_nav Logo_nav Logo_nav Logo_nav"
      "Header_nav Header_nav Header_nav Header_nav Header_nav Header_nav Header_nav Header_nav"
      "Section1 Section1 Section1 Section1 Section1 Section1 Section1 Section1"
      "Section2 Section2 Section2 Section2 Section2 Section2 Section2 Section2"
      "Footer Footer Footer Footer Footer Footer Footer Footer";
  }
  
  .Logo { grid-area: Logo; }
  .Logo_nav { grid-area: Logo_nav; }
  .Header_nav { grid-area: Header_nav; }
  .Section1 { grid-area: Section1; }
  .Section2 { grid-area: Section2; }
  .Footer { grid-area: Footer; }

/* Estilos de texto y box modeling en cabecera a la altura del Logo */
.cabeceraLogoNav{
    position:absolute;
    right:15px;
    top:15px;
    color: green;
    text-decoration: none
}

.Logo a{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100%;
    margin:auto;
    align-items:center;
    justify-content:center;
    
}

.navCabeceraFlex{
    display:flex;
    flex-direction: row;
    justify-content: flex-end; 
    padding:0.5%;
    width: 100%;
    color: green;
    text-decoration: none;
}

.navCabeceraFlex li {
    list-style-type: none;
    font-size: 15px; 
    width: fit-content;
    padding:0.5%;
    } 

.navCabeceraFlex a{
    color: green; 
}

/* Menú con submenú */
.navFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    list-style: none; 
    text-decoration: none;
    background-color: rgb(4, 4, 88);
    margin:0;
    padding: 10px;
}
li {
    width: 25%;
    position:relative;
    font-size: 1.5rem;
    text-align: center;
    /*border-style:solid;*/
    
}
ul ul {
    position: relative;
    display: none;
    
}
ul ul li {
    display: block;
    width:100%;
    padding: 10px;
    
}
ul li a {color: lightgreen;text-decoration: none}
ul ul li a {color: white;text-align: left;font-size: 1.2rem;left:10%;text-decoration: none}
ul li:hover ul {
    overflow: visible;
    position: absolute;
    width: 90%;
    display:block;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(4, 4, 88);
    z-index: 2; 
    padding-bottom: 5%; 
} 

.transicion:hover {
    background-color: rgb(241, 244, 248);
}

/* FlexBox para categorías de productos */
.flexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    vertical-align: center;
    
}
.flexProporcion{
    color: white;
    flex: 33.333%;
    position:relative;
    margin: 0;
}
.flexImg{
    width: 98%;
    height: 100%;
    object-fit: cover;
    position:relative;
    object-position: 50% 50%;
    display: block;
    
}
.flexBoton{
    position:absolute;
    color: white;
    background-color: rgb(4, 4, 88);
    left:40%;
    top:40%;
}
/*Section*/
.flexSection{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    justify-content: space-around;
    background-color: rgb(4, 4, 88);
    color:white; 

}
.Section_ImgText{
    background-color: rgb(4, 4, 88);
    color:white; 
}

.Section_ImgText img {
    width: 95%;
}

/* Parallax */
.parallax {
    background-image: url("../img/perifericos_comunicaciones_electricos.jpg");
    height: 1000px;
    width: 95.1%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;          
    padding: 50px 30px;
    margin:0;
}
.parallax h4 {
      font-size: 4rem; 
      text-align: left; 
      color:white;
      padding-top: 20px;
      margin-top: 40px;
}
.parallax p {
      font-size: 2.5rem; 
      text-align: justify; 
      color:white;
}

/* Formulario*/

.formulario{
    color:white;
    margin-left: 35%;
}

.Section2 iframe {
    display: block;
    text-align: center;
    margin:auto;
}

/* Footer */

.footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

.flexFoot{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    background-color: black;
    color:white; 
    font-size:18px;
}
.footTitulo{
    background-color: black;
    color:white; 
    font-weight: 900;
    color: lightgreen;
    font-size:18px;
}
.footContenido{
    color: white;
    font-size:16px;
    
}

/* medias queries */

/* vista desktop */
@media only screen and (min-width: 1024px){
    body{
        background-color: rgb(235, 235, 243);
    }
    .navCabeceraFlex li {
        font-size: 20px; 
        } 
}

/* vista tablet */
@media only screen and (min-width: 768px) and (max-width:1023px){
    body{
	    background-color: rgb(202, 241, 202);
    }
    .navCabeceraFlex li {
        font-size: 18px; 
        } 
}


/* vista mobile */
@media only screen and (max-width: 767px){
    body{
        background-color: rgb(243, 243, 203);
    }
    .navCabeceraFlex li {
        font-size: 16px;
        font-weight: 600; 
        padding:1%;
        } 
    
    
    .navFlex{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        }
    .flexFoot{
        display: flex;
        flex-direction: column;
        }

    .flexSection{
            display: flex;
            flex-direction: column;
    }
    
}



